@font-face {
  font-family: "Bebas Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BebasNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-Bold.woff") format("woff"), url("../fonts/BebasNeue-Bold.ttf") format("truetype"), url("../fonts/BebasNeue-Bold.svg#Bebas Bold") format("svg"); }

/* ########
   Fuentes
   ######## */
/*

$fontset-bold: "Robot Mono", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-bold: "Robot Mono", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-bold: "Robot Mono", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

*/
/* #######
   Colores
   ####### */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  margin: 0;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  height: 100%; }

body {
  line-height: 1.42857;
  background-color: #fff !important;
  color: #000;
  font-family: "Bebas Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: scroll; }

/* Resets */
* {
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: border-box; }

.clearfix:before {
  display: table;
  content: ''; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

/* helper class when showing content */
.noscroll {
  overflow: hidden; }

a {
  outline: none;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

button:focus {
  outline: none; }

#metodologia, #fuentes, #creditos {
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  resize: both;
  overflow: auto;
  background-color: #333;
  z-index: 1000; }

.contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: left;
  background-color: rgba(51, 51, 51, 0.98); }
  .contenido a {
    display: block;
    color: white;
    text-decoration: underline; }
    .contenido a:hover {
      text-decoration: none; }
  .contenido .close-button {
    position: absolute;
    border: none;
    background: none;
    margin: 0;
    z-index: 100;
    top: 0;
    right: 0;
    font-size: 2em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    pointer-events: auto;
    padding: 15px 20px;
    opacity: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 1000; }

.landing {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  resize: both;
  overflow: auto;
  background-color: rgba(51, 51, 51, 0.98);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000; }

.introduccion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center; }
  .introduccion .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
    padding-bottom: 100px; }
  .introduccion .icon-logo {
    float: left;
    font-size: 4em;
    padding-right: 15px; }
  .introduccion h1 {
    font-family: "Bebas Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    font-size: 2.5em;
    line-height: 3em;
    text-transform: uppercase;
    margin-bottom: 30px;
    float: left;
    text-align: justify;
    text-align-last: justify; }
  .introduccion h1:after {
    content: "";
    display: inline-block;
    width: 100%; }
  .introduccion h2 {
    font-family: "Bebas Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 3;
    font-weight: 300;
    text-transform: uppercase; }
  .introduccion h3 {
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    font-family: "Bebas Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    letter-spacing: .1em;
    width: 65%; }
  .introduccion .ingresar {
    display: block;
    padding: 30px 0;
    font-size: 1.2em;
    color: white;
    font-family: "Bebas Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .introduccion .ingresar:hover {
      color: rgba(255, 255, 255, 0.5); }
    .introduccion .ingresar .icon-arrow {
      margin-top: 2em; }
  .introduccion ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 20px 0 0 0; }
    .introduccion ul li {
      font-size: 2.7em;
      text-align: center;
      display: inline-block;
      margin: 0 auto; }

.social {
  position: absolute;
  bottom: 50px; }
  .social ul {
    padding: 0;
    margin: 0; }
  .social li {
    display: inline-block; }
    .social li a {
      color: white;
      font-size: 1.5em;
      padding-right: 10px; }
      .social li a:hover, .social li a:focus, .social li a:active {
        text-decoration: none;
        color: #666666; }

/* Main content */
.main {
  position: relative;
  z-index: 50; }

/* Grid container */
.grid {
  position: relative; }
  .grid::after {
    content: '';
    background: rgba(202, 202, 202, 0.4);
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }

/* Overlay */
.view-single .grid::after {
  opacity: 1; }

/* Top bar above the grid */
/* Menu button for toggling the sidebar (appears on small screen) */
.menu-toggle {
  position: fixed;
  z-index: 100;
  display: block;
  width: 20px;
  height: 25px;
  top: 18px;
  left: 15px;
  cursor: pointer;
  background: none;
  border: none;
  display: none;
  margin: -2px 15px 0 0; }
  .menu-toggle span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .menu-toggle span:before, .menu-toggle span:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      content: ''; }
    .menu-toggle span:before {
      -webkit-transform: translateY(-7px);
      transform: translateY(-7px); }
    .menu-toggle span:after {
      -webkit-transform: translateY(7px);
      transform: translateY(7px); }

/* Filter/dropdown dummy on the right */
.menu {
  font-size: .8em; }
  .menu span {
    display: block;
    line-height: 1.5em; }
  .menu a {
    display: block;
    color: white;
    line-height: 2.5em;
    text-transform: uppercase; }
    .menu a:hover, .menu a:active {
      color: #6d6e70; }

.salud {
  border: none;
  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out; }
  .salud::before {
    border: 1px solid rgba(43, 253, 166, 0.5); }
  .salud:hover::before, .salud:focus::before {
    border: 3px solid #2bfda6; }

.educacion {
  border: none;
  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out; }
  .educacion::before {
    border: 1px solid rgba(136, 255, 255, 0.5); }
  .educacion:hover::before, .educacion:focus::before {
    border: 3px solid #88ffff; }

.infraestructura {
  border: none;
  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out; }
  .infraestructura::before {
    border: 1px solid rgba(204, 162, 252, 0.5); }
  .infraestructura:hover::before, .infraestructura:focus::before {
    border: 3px solid #cca2fc; }

/* Grid item */
.grid__sizer,
.grid__item {
  padding: 0px 100px 0px 80px;
  position: relative;
  color: inherit;
  min-height: 460px;
  cursor: pointer;
  text-align: center; }
  .grid__sizer:first-child::before,
  .grid__item:first-child::before {
    margin-top: 20px; }
  .grid__sizer::before,
  .grid__item::before {
    position: absolute;
    content: '';
    top: 0px;
    right: 55px;
    bottom: 0px;
    left: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .grid__sizer *,
  .grid__item * {
    z-index: 10; }

.no-touch .grid__sizer,
.no-touch .grid__item {
  padding: .75em .75em 1.25em; }

/* Grid item "border" */
/* grid item element and full content element styles */
.title, .content__item .title {
  margin: 30px 0 0 0;
  font-family: "Bebas Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  line-height: 1.1em;
  padding: 0px; }

.card--text {
  font-family: "Bebas Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 1.35em;
  line-height: 1.4em;
  padding: 0px; }

.loader {
  height: 0px;
  width: 100%;
  margin: 5px auto;
  position: relative;
  background: rgba(0, 0, 0, 0.1); }
  .loader::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #a4e7ad;
    left: 0;
    top: -1px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%; }
  .loader.salud::before {
    background-color: rgba(43, 253, 166, 0.95); }
  .loader.educacion::before {
    background-color: rgba(136, 255, 255, 0.95); }
  .loader.infraestructura::before {
    background-color: rgba(204, 162, 252, 0.95); }

.grid__item--loading .loader::before {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.category {
  margin: 5px 0px;
  padding: 5px;
  position: absolute;
  font-family: "Bebas Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  display: block;
  width: auto; }
  .category.salud {
    color: #2bfda6; }
  .category.educacion {
    color: #88ffff; }
  .category.infraestructura {
    color: #cca2fc; }

.title--preview, .loader, .category, .card--text, .bar {
  -webkit-transition: -webkit-transform 0.25s, opacity 0.25s;
  transition: transform 0.25s, opacity 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

/* closing (delays) */
.title--preview {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.grid__item .category {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

/* opening */
.grid__item--animate .title--preview {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0); }

.grid__item--animate .loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0); }

.grid__item--animate .category {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  opacity: 0;
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0); }

.grid__item--animate .card--text {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 0;
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0); }

.grid__item--animate .bar {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  opacity: 0;
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0); }

.meta {
  text-align: left;
  position: absolute;
  bottom: 20px; }

.grid__item:hover .meta--preview .meta__avatar, .grid__item:focus .meta--preview .meta__avatar {
  -webkit-filter: none;
  filter: none; }

/* main content */
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 0;
  /* Avoid second scroll bar in Chrome! */
  visibility: hidden;
  z-index: 400;
  overflow: hidden; }
  .content.content--show {
    height: 100vh;
    pointer-events: auto;
    visibility: visible; }

/* scroll helper wrap */
.scroll-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* single content item */
.content__item {
  background-color: #333333;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 0px 60px 0px 60px;
  pointer-events: none;
  font-size: 0.85em; }
  .content__item p {
    text-align: left; }
    .content__item p:first-of-type {
      font-size: 1.35em; }
  .content__item .title {
    color: white; }
  .content__item.content__item--show {
    height: auto;
    min-height: 100vh;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s; }

/* content elements */
.category--full {
  font-size: 0.9em;
  position: relative;
  margin: 30px 0 40px 0; }
  .category--full.salud {
    color: #2bfda6; }
  .category--full.educacion {
    color: #88ffff; }
  .category--full.infraestructura {
    color: #cca2fc; }

.title--full {
  font-size: 3.25em; }

.view-more {
  display: inline-block;
  color: white; }

.content--full {
  position: absolute;
  top: 140px;
  left: 0;
  width: 100%;
  overflow: auto;
  font-size: 1.3em;
  height: 100%;
  background-color: #333333;
  padding: 20px 150px 0 0;
  display: none;
  visibility: hidden; }

/* close button (for content and sidebar) */
.close-button {
  position: absolute;
  border: none;
  background: none;
  margin: 0;
  z-index: 100;
  top: 0;
  right: 0;
  font-size: 2em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  pointer-events: none;
  padding: 15px 20px;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .close-button:hover {
    color: white; }

/* show class for content close button */
.close-button--show {
  opacity: 1;
  pointer-events: auto; }

/*****
Estilos d3
*****/
.grafico {
  background-color: transparent;
  border: 0px;
  margin: 0;
  padding: 0;
  width: 99%;
  height: 60vh; }

.labelOn {
  visibility: visible; }

.labelOff {
  visibility: hidden; }

#info {
  text-align: center;
  width: 500px; }

.salud .circulo {
  fill: #2bfda6; }

.salud .circuloDim {
  fill: #2bfda6;
  opacity: 0.4; }

.educacion .circulo {
  fill: #88ffff; }

.educacion .circuloDim {
  fill: #88ffff;
  opacity: 0.4; }

.infraestructura .circulo {
  fill: #cca2fc; }

.infraestructura .circuloDim {
  fill: #cca2fc;
  opacity: 0.4; }

.axis path, .axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
  stroke-width: 1px; }

.axis text {
  fill: white; }

.d3-tip {
  z-index: 100;
  line-height: 1.1em;
  font-size: 1.05em;
  padding: 15px;
  background: black;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 1.5em;
  width: 100%;
  line-height: .5em;
  color: black;
  content: "\25BC";
  position: absolute;
  text-align: center; }

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0; }

#mapa {
  fill: #c0c0c0;
  stroke: #ffffff;
  opacity: 0.5; }

.invisible {
  display: none; }

.visible {
  display: inline-block; }

.resaltada {
  fill: #996666; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grid__sizer,
  .grid__item {
    width: 100%;
    padding: 0px; }
    .grid__sizer::before,
    .grid__item::before {
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; } }

/* Viewport sizes based on column number and sidebar */
/* 1 column */
/* 2 columns */
/* 3 columns */
/* 4 columns */
/* 5 columns */
/* 6 columns */
@media screen and (min-width: 600px) {
  html, body, .container, .main {
    height: 100vh; }
  .main {
    height: 100%; }
  .sidebar {
    width: 200px; }
    .sidebar h1 {
      display: none; }
    .sidebar h2 {
      font-size: 1.2em;
      margin: 1.75em 0 20px 0; }
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .content__item {
    font-size: 1em; }
    .content__item .category--full {
      width: 65%;
      font-size: 0.76em;
      margin: 30px 0 20px 0; }
    .content__item .title {
      width: 75%;
      margin: 20px 50px 0 0; }
  .meta__indicador_a, .meta__indicador_b, .meta__indicador_c {
    font-size: 3.2em; }
  /* 1 columns */
  .grid__sizer,
  .grid__item {
    width: 100%;
    padding: 30px 50px 0px 30px; }
    .grid__sizer::before,
    .grid__item::before {
      top: 10px;
      right: 15px;
      bottom: 10px;
      left: 5px; }
  .content__item {
    padding: 0px 20px 0px 0px; }
  .tabs-navigation a {
    font-size: 0.55em;
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    text-overflow: ellipsis;
    padding: 10px 10px; }
    .tabs-navigation a:hover {
      font-size: 0.8em;
      position: relative;
      overflow: visible;
      width: 250px; }
    .tabs-navigation a.active {
      font-size: 0.8em;
      width: 200px; } }

@media screen and (min-device-width: 768px) {
  .introduccion {
    width: 70%; }
    .introduccion h3 {
      width: 90%; }
  .tabs-navigation a {
    font-size: 0.55em;
    position: relative;
    display: block;
    height: 120px;
    width: 50px;
    text-overflow: ellipsis;
    padding: 10px 10px; }
    .tabs-navigation a:hover {
      font-size: 0.8em;
      position: relative;
      overflow: visible;
      width: 250px; }
    .tabs-navigation a.active {
      font-size: 0.8em;
      width: 200px; } }

@media screen and (min-width: 900px) {
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  /* 2 columns */
  .grid__sizer,
  .grid__item {
    width: 50%;
    border: none; }
    .grid__sizer::before,
    .grid__item::before {
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .category {
    padding: 0; }
  .category--full {
    width: 95%;
    font-size: 0.76em;
    margin: 30px 0 20px 0; }
  .title--full {
    margin: 20px 0 0 0; }
  .tabs-navigation a {
    font-size: 0.5em;
    position: relative;
    display: block;
    height: 120px;
    width: 100px;
    text-overflow: ellipsis;
    padding: 10px 10px; }
    .tabs-navigation a:hover {
      font-size: 0.8em;
      position: relative;
      overflow: visible;
      width: 250px; }
    .tabs-navigation a.active {
      width: 150px; }
  .grid__item--loading.grid__item::before {
    opacity: 0; } }

@media screen and (min-width: 1200px) {
  .main {
    height: 100%; }
    .main h1 {
      font-size: 3rem;
      line-height: 3rem;
      text-align: justify;
      text-align-last: justify; }
      .main h1:after {
        content: "";
        display: inline-block;
        width: 100%; }
  .sidebar {
    width: 300px; }
    .sidebar h1 {
      display: block; }
    .sidebar h2 {
      margin: 0.75em 0 20px 0;
      font-size: 1.5em; }
  /* 3 columns */
  .grid__sizer,
  .grid__item {
    width: 33.333%; }
  .grafico {
    width: 95%;
    height: 65vh; }
  .tabs-navigation a {
    font-size: 0.55em;
    position: relative;
    display: block;
    height: 120px;
    width: 150px;
    text-overflow: ellipsis;
    padding: 10px 10px; }
    .tabs-navigation a:hover {
      font-size: 0.8em;
      position: relative;
      overflow: visible;
      width: 350px; }
    .tabs-navigation a.active {
      width: 200px; } }

@media screen and (min-width: 1500px) {
  /* 4 columns */
  .grid__sizer,
  .grid__item {
    width: 25%; } }

@media screen and (min-width: 1800px) {
  /* 5 columns */
  .grid__sizer,
  .grid__item {
    width: 20%; }
  .tabs {
    width: 100%;
    max-width: 1600px; } }

@media screen and (min-width: 2100px) {
  /* 6 columns */
  .grid__sizer,
  .grid__item {
    width: 16.66%; }
  .tabs {
    width: 100%;
    max-width: 1800px; } }

/* small screen changes for sidebar (it becomes an off-canvas menu) */
@media screen and (max-width: 599px) {
  .landing {
    display: none; }
  .grid {
    margin-top: 50px; }
  .view-single .grid {
    margin-top: 0px; }
  .grid__sizer,
  .grid__item {
    width: 100%;
    padding: 30px 50px 0px 30px; }
    .grid__sizer::before,
    .grid__item::before {
      top: 10px;
      right: 15px;
      bottom: 10px;
      left: 5px; }
  .meta__indicador_a, .meta__indicador_b, .meta__indicador_c {
    font-size: 3.5em; }
  .content__item {
    padding: 40px 5px 40px; }
    .content__item .category {
      padding: 0; }
    .content__item .category--full {
      width: 80%;
      letter-spacing: 0;
      font-size: 0.8em;
      margin: 10px 0px 10px 15px; }
    .content__item .title {
      width: 80%;
      font-family: "Bebas Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 10px 0px 0 15px; }
  .sidebar {
    padding: 1em;
    width: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s; }
    .sidebar .icon-logo {
      padding-right: 10px; }
    .sidebar .logo {
      padding-bottom: 80px; }
    .sidebar h1 {
      font-size: 1em;
      line-height: 2.4em; }
    .sidebar h2 {
      margin: 0 0 10px 0;
      font-size: .8em;
      font-weight: 500; }
    .sidebar .menu {
      display: none; }
    .sidebar.sidebar--open {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
      .sidebar.sidebar--open ~ .main {
        pointer-events: none; }
  .top-bar {
    padding: 5px 0px 0px 0px; }
  .fiter span {
    margin-bottom: 5px; }
  .filter__item {
    width: 100%;
    padding: 10px 0px 6px 0px;
    margin-bottom: 5px; }
  .tabs-navigation .card a {
    display: none; }
  .tabs-navigation .card .activo {
    display: block;
    width: 100%;
    height: 80px; }
  .menu-toggle {
    display: inline-block; }
  .sidebar .close-button {
    opacity: 1;
    pointer-events: auto; }
  .title--full {
    font-size: 2em; }
  .content__item {
    padding: 50px 0px 0px; }
  .content .close-button {
    padding: 18px 10px; }
    .content .close-button::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background: #333333;
      width: 100vw;
      height: 50px;
      pointer-events: none;
      z-index: -1; }
  .grafico {
    width: 100%;
    height: 60vh; } }
